USE [BIBLIOTECALEPII]
GO
/****** Object:  StoredProcedure [dbo].[VALIDAR_USUARIO]    Script Date: 23/3/2020 18:19:26 ******/
DROP PROCEDURE [dbo].[VALIDAR_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIOS]    Script Date: 23/3/2020 18:19:26 ******/
DROP PROCEDURE [dbo].[INSERTAR_USUARIOS]
GO
ALTER TABLE [dbo].[UBICACION] DROP CONSTRAINT [FK_UBICACION_LIBRO]
GO
ALTER TABLE [dbo].[LIBRO] DROP CONSTRAINT [FK_LIBRO_EDITORIAL]
GO
ALTER TABLE [dbo].[LIBRO] DROP CONSTRAINT [FK_LIBRO_AUTOR]
GO
ALTER TABLE [dbo].[AUTOR] DROP CONSTRAINT [FK_AUTOR_NACIONALIDAD]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[usuario]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[UBICACION]
GO
/****** Object:  Table [dbo].[NACIONALIDAD]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[NACIONALIDAD]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[LIBRO]
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[EDITORIAL]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 23/3/2020 18:19:26 ******/
DROP TABLE [dbo].[AUTOR]
GO
/****** Object:  UserDefinedFunction [dbo].[ENCRIPTAR]    Script Date: 23/3/2020 18:19:26 ******/
DROP FUNCTION [dbo].[ENCRIPTAR]
GO
USE [master]
GO
/****** Object:  Database [BIBLIOTECALEPII]    Script Date: 23/3/2020 18:19:26 ******/
DROP DATABASE [BIBLIOTECALEPII]
GO
/****** Object:  Database [BIBLIOTECALEPII]    Script Date: 23/3/2020 18:19:26 ******/
CREATE DATABASE [BIBLIOTECALEPII]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECALEPII', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BIBLIOTECALEPII.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTECALEPII_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BIBLIOTECALEPII_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECALEPII].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECALEPII]
GO
/****** Object:  UserDefinedFunction [dbo].[ENCRIPTAR]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ENCRIPTAR](@texto NVARCHAR(16)) RETURNS NVARCHAR(32)
AS
BEGIN
	DECLARE @RESULTADO NVARCHAR(32)
	SET @RESULTADO = SUBSTRING(master.sys.fn_varbintohexstr(HashBytes('MD5', @texto)), 3, 32)
	RETURN @RESULTADO
END
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[idAutor] [int] IDENTITY(1,1) NOT NULL,
	[nombreAutor] [nvarchar](100) NOT NULL,
	[idNacionalidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIAL](
	[idEditorial] [int] IDENTITY(1,1) NOT NULL,
	[descEditorial] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[idLibro] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nvarchar](100) NOT NULL,
	[isbn] [nvarchar](20) NOT NULL,
	[publicacion] [int] NOT NULL,
	[idAutor] [int] NOT NULL,
	[idEditorial] [int] NOT NULL,
	[existencias] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NACIONALIDAD]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NACIONALIDAD](
	[idNacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[decNacionalidad] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[idUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[idLibro] [int] NOT NULL,
	[pasillo] [nvarchar](50) NOT NULL,
	[estante] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UBICACION] PRIMARY KEY CLUSTERED 
(
	[idUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](16) NOT NULL,
	[passwd] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK__usuario__645723A654C55BD6] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AUTOR] ON 

INSERT [dbo].[AUTOR] ([idAutor], [nombreAutor], [idNacionalidad]) VALUES (1, N'Oscar Wilde', 3)
INSERT [dbo].[AUTOR] ([idAutor], [nombreAutor], [idNacionalidad]) VALUES (2, N'Fidel Castro', 6)
SET IDENTITY_INSERT [dbo].[AUTOR] OFF
SET IDENTITY_INSERT [dbo].[EDITORIAL] ON 

INSERT [dbo].[EDITORIAL] ([idEditorial], [descEditorial]) VALUES (1, N'Acantilado')
INSERT [dbo].[EDITORIAL] ([idEditorial], [descEditorial]) VALUES (2, N'Alba')
SET IDENTITY_INSERT [dbo].[EDITORIAL] OFF
SET IDENTITY_INSERT [dbo].[NACIONALIDAD] ON 

INSERT [dbo].[NACIONALIDAD] ([idNacionalidad], [decNacionalidad]) VALUES (3, N'Español/a')
INSERT [dbo].[NACIONALIDAD] ([idNacionalidad], [decNacionalidad]) VALUES (4, N'Salvadoreño/a')
INSERT [dbo].[NACIONALIDAD] ([idNacionalidad], [decNacionalidad]) VALUES (6, N'Cubano/a')
SET IDENTITY_INSERT [dbo].[NACIONALIDAD] OFF
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([idUsuario], [usuario], [passwd]) VALUES (1, N'daniel', N'ce0bfd15059b68d67688884d7a3d3e8c')
INSERT [dbo].[usuario] ([idUsuario], [usuario], [passwd]) VALUES (2, N'batman', N'ce0bfd15059b68d67688884d7a3d3e8c')
INSERT [dbo].[usuario] ([idUsuario], [usuario], [passwd]) VALUES (3, N'root', N'9b64c1cf311710f798987a74f6fd1e92')
SET IDENTITY_INSERT [dbo].[usuario] OFF
ALTER TABLE [dbo].[AUTOR]  WITH CHECK ADD  CONSTRAINT [FK_AUTOR_NACIONALIDAD] FOREIGN KEY([idNacionalidad])
REFERENCES [dbo].[NACIONALIDAD] ([idNacionalidad])
GO
ALTER TABLE [dbo].[AUTOR] CHECK CONSTRAINT [FK_AUTOR_NACIONALIDAD]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_AUTOR] FOREIGN KEY([idAutor])
REFERENCES [dbo].[AUTOR] ([idAutor])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_AUTOR]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_EDITORIAL] FOREIGN KEY([idEditorial])
REFERENCES [dbo].[EDITORIAL] ([idEditorial])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_EDITORIAL]
GO
ALTER TABLE [dbo].[UBICACION]  WITH CHECK ADD  CONSTRAINT [FK_UBICACION_LIBRO] FOREIGN KEY([idLibro])
REFERENCES [dbo].[LIBRO] ([idLibro])
GO
ALTER TABLE [dbo].[UBICACION] CHECK CONSTRAINT [FK_UBICACION_LIBRO]
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_USUARIOS]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAR_USUARIOS] @usu NVARCHAR(16), @pwd NVARCHAR(16)
AS
BEGIN
	SET NOCOUNT ON;
	INSERT INTO usuario VALUES (@usu, dbo.encriptar(@pwd))
END
GO
/****** Object:  StoredProcedure [dbo].[VALIDAR_USUARIO]    Script Date: 23/3/2020 18:19:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VALIDAR_USUARIO] @usu NVARCHAR(16), @pwd NVARCHAR(16)
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM usuario WHERE LOWER(usuario) = LOWER(@usu) and passwd = dbo.encriptar(@pwd)
END
GO
USE [master]
GO
